.navbar-nav a{
  margin-right: 10px;
  text-decoration: none;
}

.navbar-nav a:last-child{
  margin-right: 0px;
}

.form{
  width: 500px;
  margin: 10px auto 0 auto;
  text-align: center;
}

.cards .card-body .info-block{
  display: flex;
  justify-content: space-between;
  word-wrap: break-word;
}

#done{
  background-color:#ace3b6;
}

#undone{
  background-color: #eb7b67;
}

.handlers{
  cursor: pointer;
}

.date{
  text-align: right;
  margin-bottom: 0;
}

.time-block{
  display: flex;
  justify-content: end;
}

.time-block .date{
  margin-right: 10px;
}

.time-block .date:last-child{
  margin-right: 0px;
}